@import "bootstrap/scss/bootstrap";
// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  margin-top: 88px;
}

ul {
  font-size: 1.3rem;
}

.add-task-link {
  font-size: 1.3rem;
}

a {
  font-size: 1.3rem;
}

 .link > a {
   color: black;
 }

 .link > a:hover {
  text-decoration: none;
  font-size: 1.4rem;
  transition: 0.3s;
 }

 a:hover {
   text-decoration: none;
 }

 .delete:hover {
    background-color: rgba(211, 209, 209, 0.68);
    padding: 4px;
    border-radius: 8px;
 }

 p {
    font-size: 1.2rem;
    margin-bottom: 16px;
    margin-top: 16px;
 }
